html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  padding: 0;
}

ul > li {
  list-style: none;
}

.header {
  text-align: center;
  background-color: #f9f5ff;
}
.header-content {
  padding: 96px 50px 24px 50px;
}
.header-content .header-name a {
  font-size: 1.4rem;
  padding: 4px 12px;
  color: #6941c6;
  font-weight: 500;
  background-color: #ede3fc;
  border-radius: 1.6rem;
}
.header-content .header-title {
  font-size: 4.8rem;
  color: #40327d;
  font-weight: 600;
}
.header-content .header-sub {
  font-size: 2rem;
  font-weight: 400;
  color: #6941c6;
}
.header-content .header-search input {
  padding: 12px 16px;
  min-width: 320px;
  border: 1px solid #d0d5dd;
  border-radius: 2px;
}

.height-flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.blog-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-shadow: 0 12px 16px 3px rgba(16, 24, 40, 0.08);
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 48px;
}
.blog-card .card-img img {
  width: 100%;
}
.blog-card .card-sub {
  font-size: 1.4rem;
  color: #6941c6;
  font-weight: 600;
}
.blog-card .card-title {
  font-size: 24px;
  color: #101828;
  font-weight: 600;
  position: relative;
}
.blog-card .card-title .cart-arrow {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
}
.blog-card .card-description {
  font-size: 1.6rem;
  color: #667085;
  font-weight: 400;
}
.blog-card .avatar {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}
.blog-card .avatar .avatar-img {
  margin-right: 12px;
}
.blog-card .avatar .avatar-text .avatar-title {
  font-size: 14px;
  font-weight: 500;
  color: #101828;
}
.blog-card .avatar .avatar-text .avatar-time {
  font-size: 14px;
  color: #667085;
  font-weight: 400;
}

.action {
  text-align: center;
}
.action button {
  padding: 12px;
  font-size: 16px;
  color: #6941c6;
  background-color: #f9f5ff;
  border: none;
  border-radius: 2px;
}
.action button .fa-arrow-down {
  padding-right: 13px;
}

.comment {
  padding: 12px 32px;
}
.comment-title {
  font-size: 4rem;
  font-weight: 700;
  color: #191d23;
}
.comment-content {
  border-left: 2px solid #d0d5dd;
}
.comment-content .comment-text {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}
.comment-content .comment-text .comment-main {
  margin-left: 4px;
  padding: 9px 8px;
  border-radius: 10px;
  background-color: #f7f8f9;
}
.comment-content .comment-text .comment-main .comment-time {
  font-size: 14px;
  color: #647688;
}
.comment-content .comment-text .comment-main .comment-time span {
  float: right;
  font-size: 2.5rem;
}
.comment-content .comment-text .comment-main .comment-discript {
  font-size: 16px;
  color: #191d23;
  font-weight: 400;
}
.comment-content .comment-text .comment-main .comment-icon {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}
.comment-content .comment-text .comment-main .comment-icon .icon-like {
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-content .comment-text .comment-main .comment-icon .icon-like span {
  padding-right: 5px;
}
.comment-content .comment-text .comment-main .comment-icon .icon-like i {
  padding-left: 6px;
}
.comment-content .comment-text .comment-main .comment-icon .icon-comment i {
  padding-left: 6px;
}
.comment-content .view {
  padding-left: 2rem;
  font-size: 1.4rem;
  color: #6941c6;
  padding-bottom: 2rem;
}
.comment-search {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  margin-bottom: 4.6rem;
}
.comment-search input {
  padding: 12px;
  flex: 1;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
}
.comment-search a {
  padding: 12px;
  background-color: #f9f5ff;
  margin-left: 4px;
  border-radius: 6px;
}
.comment-search a i {
  transform: scale(1.3);
}

.comment-text:first-child {
  margin-left: -25px;
}

.comment-text:first-child .comment-img img {
  border: 5px solid #fff;
}

.comment-text:not(:first-child) {
  padding-left: 2rem;
}

@media screen and (max-width: 576px) {
  .header-content .header-title {
    font-size: 4rem;
  }
  .header-content .header-sub {
    font-size: 1.8rem;
  }
  .blog-card .card-title {
    font-size: 2rem;
  }
  .blog-card .card-description {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
